@import "../styles/styles.scss";

.view__nav {
  width: 100%;
  height: 100%;
  &__steps {
    position: relative;
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 3em;
    background-color: #1d2229;
    height: 3em;

    &__option {
      color: $text;
      opacity: 0.6;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      cursor: pointer;
      height: 100%;
      width: 10em;
      gap: 0.2em;
      text-decoration: none;

      &.active {
        background-color: $fourtary;
        opacity: 1;
        color: $text;
      }

      &:hover {
        transition: 0.3s all;
        opacity: 1;
        background-color: $fourtary;
        color: $text;
      }
    }
  }
}

.view-steps {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2em;

  &__title {
    color: whitesmoke;
    margin-bottom: 2em;
  }

  &__container {
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__step {
    vertical-align: middle;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    padding: 2em;
    width: 10em;
    height: 18em;
    border-radius: 20px;
    text-decoration: none;
    color: #333333;

    &:hover {
      transform: scale(1.1);
    }

    &__icon {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 2em;
      height: 2em;
      border-radius: 50%;
      background-color: #2e96b7;
      font-size: 2em;
      color: whitesmoke;
    }

    &__title {
      height: 1.5em;
      font-size: 1.5em;
      font-weight: 400;
      text-align: center;
      margin-bottom: 1em;
    }

    &__description {
      height: 7em;
      text-align: center;
    }
  }

  &__forwardIcon {
    font-size: 3em;
    color: whitesmoke;
  }

    @media screen and (max-width: 1300px) {
    flex-direction: column;

  
    &__step {
      width: 7em;
      height: 12em;

      &__icon {
        width: 1.5em;
        height: 1.5em;
        font-size: 1.5em;
      }

      &__title {
        font-size: 1.2em;
      }

      &__description {
        height: 5em;
        font-size: 0.7em;
      }
    }

    &__forwardIcon {
      font-size: 2em;
      transform: rotate(90deg);
    }
    
  }
}

.models {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;

  &__header {
    font-size: 1.3em;
    font-weight: 500;
    color: whitesmoke;
    margin-top: 2em;
  }

  &__previous {
    display: flex;
    flex-direction: column;
    height: 30em;
    width: 60em;
    overflow: auto;
    background-color: whitesmoke;
    border-radius: 10px;

    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      background-color: #333333;
    }

    &::-webkit-scrollbar {
      border-radius: 10px;
      width: 15px;
      background-color: #4a4a4a;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: #4a4a4a;
    }

    &__header {
      position: sticky;
      top: 0;
      background-color: #1d2229;
      color: whitesmoke;
      padding: 0.5em;
      font-weight: 500;
    }

    &__models {
      display: flex;
      flex-direction: column;
      gap: 1em;
      height: 10em;

      &__model {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1em;
        border-bottom: 1px dashed grey;
        padding: 0.5em;
        padding-left: 1em;
        cursor: pointer;

        &.empty {
          cursor: default;

          &:hover {
            background-color: unset;
            color: unset;
            transition: none;
          }
        }

        &__name {
          overflow: hidden;
          width: 70%;
        }

        &__date {
          margin-left: auto;
        }

        &:hover {
          background-color: #2e96b7;
          color: whitesmoke;
          transition: 0.3s all;
        }

        &.active {
          pointer-events: none;
          background-color: #2e96b7;
          color: whitesmoke;
        }
      }
    }
  }
}

.view {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;

  &__predict {
    display: grid;
    margin: 1em auto;
    grid-template-columns: repeat(2, 1fr);
    background-color: whitesmoke;
    width: 50%;
    border-radius: 10px;
    padding: 2em;

    &__loader-container {
      grid-column: span 2;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100px;

      @media screen and (max-width: 768px) {
        grid-column: 1;
      }
    }

    @media screen and (max-width: 768px) {
      width: 90%;
      grid-template-columns: 1fr;
    }

    &__title {
      grid-column: span 2;
      justify-self: center;
      align-self: center;
      color: #333333;
      font-size: 1.5em;
      font-weight: 500;
      margin-bottom: 1em;

      @media screen and (max-width: 768px) {
        grid-column: 1;
      }
    }

    &__input {
      &__container {
        justify-self: center;
        align-self: center;
        padding: 1em;
      }
    }

    &__button {
      grid-column: span 2;
      justify-self: center;
      align-self: center;
      width: 10em;
      margin-bottom: 3em;

      @media screen and (max-width: 768px) {
        grid-column: 1;
      }
    }
  }

  &__tree {
    position: relative;
    --grid-size: 30px;
    --grid-strength: 1px;
    --grid-dash: 10px;
    --grid-gap: 5px;
    --grid-color: #ddd;
    --paper-color: whitesmoke;
    width: 100%;
    height: 100%;

    &__loader {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
    }

    &__options {
      position: absolute;
      top: 1em;
      right: 2em;
      display: flex;
      flex-direction: row;
      gap: 1em;

      &__tooltip {
        font-size: 1.5em;
      }

      &__icon {
        border: 1px solid grey;
        padding: 0.3em;
        display: flex;
        align-items: center;
        justify-content: center;
        &.first {
          margin-left: auto;
        }
        &__svg {
          font-size: 2em;
        }

        &:hover {
          transition: 0.3s all;
          background-color: darkgray;
          cursor: pointer;
        }

        &.active {
          background-color: darkgray;
        }
      }
    }

    background-color: var(--paper-color);
    background-size: var(--grid-dash) var(--grid-dash),
      var(--grid-size) var(--grid-size);
    background-image: linear-gradient(
        to bottom,
        transparent var(--grid-gap),
        var(--paper-color) var(--grid-gap)
      ),
      linear-gradient(
        to right,
        var(--grid-color) var(--grid-strength),
        transparent var(--grid-strength)
      ),
      linear-gradient(
        to right,
        transparent var(--grid-gap),
        var(--paper-color) var(--grid-gap)
      ),
      linear-gradient(
        to bottom,
        var(--grid-color) var(--grid-strength),
        transparent var(--grid-strength)
      );

    &__group {
      user-select: none;
      position: relative;

      &__container {
        position: relative;
      }

      &__circle1 {
        fill: none;
        display: none;
        opacity: 0.5;
        fill: rgb(200, 200, 200);

        &.active {
          display: block;
        }
      }

      &__text {
        // position: absolute;
      }

      &__return {
        color: red;
      }
    }
  }

  &__performance {
    padding: 2em;

    &__plots {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 2em;
      width: 100%;

      &__title {
        color: whitesmoke;
        font-size: 1.5em;
        margin-top: 2em;
        margin-bottom: 0em;

        &:nth-of-type(1) {
          margin-top: 0em;
        }
      }

      &__plot {
        width: 100%;
        border-radius: 10px;
        background-color: #1d2229;
        padding: 1em;
      }
    }
  }
}
